* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.6em;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-size: 1.2rem;
  font-weight: 100;
  margin: 0px 200px;
  color: rgb(51, 51, 51);
}

body > header {
  width: 100%;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 1em;
}

body  header nav {
  box-sizing: border-box;
  width: 70%;
  display: flex;
  justify-content: flex-end;
  background-color: mediumaquamarine;
  padding-right: 10px;
  position: fixed;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.2em;
}

body header hgroup  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav li {
  list-style: none;
  display: inline;
}

nav {
  /* position: fixed; */
  display: flex;
  gap: 30px;
}

nav  li :hover {
  background-color: aliceblue;
}

body > main > article  {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

figure img {
  width: 100%;
}

hgroup h2 {
  padding-bottom: 0.2em;
}

article section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

mark {
  background-color: rgb(179, 222, 239);
}

details {
  padding: 20px;
  border: 0.1em solid rgb(189, 184, 184);
  background-color: rgb(194, 229, 243);
}

aside {
  padding: 2rem;
  border-left: 5px solid mediumseagreen;
  background-color: rgb(184, 231, 184);
}

body > header > hgroup {
  padding-top: 2em;
}

body footer dialog {
  border: 0.1rem solid rgb(174, 228, 230);
  position: fixed;
  width: 11%;
  top: 80vh;
  left: 1vw;
  padding: 0.9em;
  background-color: rgb(165, 247, 245);
}

